.container {
	width: 1200px;
	position: relative;
	margin: 0 auto;
}

.ajax-href {
	display: inline-block;
	color: #327CDD;
	border-bottom: 1px dotted;
	cursor: pointer;
}

.list-cities {
	position: absolute;
	border: 1px solid #c4c4c4;
	border-radius: 5px;
	padding: 5px 10px;
	background-color: aliceblue;
	box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.46);
	color: #A76E6E;
	text-align: left;
}

.loader { 
	background: url('../img/loader.gif');
	width: 32px;
	height: 32px;
	background-size: cover;
}